body
{
  background-color: #A9A9A9;
  text-align: left;
}
header{
	width: 100%;
  background-color: #2F4F4F;
  color: #DCDCDC;
  height: 90px;
}
footer{
	width: 100%;
	background-color: #2F4F4F;
	color: #DCDCDC;
  min-height: 50px;
  padding-left: 13%;
}

nav
{
  background-color: #778899;
  max-width: 960px;
  margin: auto;
  height: 50px;
  display:flex;
  text-align: center;
  font-size: 200%;
  padding-left: 10px;
}
#logo
{
  width:80px;
  float:left;
  margin-right: 20px;
  margin-top: 5px;
  margin-left: 13%;
}

#m1,#m2,#m3
{
  flex:1;
}
.content{
	max-width: 960px;
  margin:auto;
	background-color: rgba(199, 220, 227, 0.77);
  padding-left: 10px;
}
table
{
  width: 400px;
	height: 200px;
}
th
{
  text-align: center;
  border: 4px double black;
}
td
{
  text-align: center;
  border: 4px double black;
}

.chet
{
  background-color: #7B68EE;
}

.nechet
{
  background-color: #87CEFA;
}
